{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Hero Section Begin -->
    {% include "banner.html" %}
   
    <!-- Hero Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Organi Shop</h2>
                        <div class="breadcrumb__option">
                            <a href="./index.html">Home</a>
                            <span>Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Section Begin -->
    <form action="{% url 'ProductListingView' product_category_id=product_category_id %}" method="get" id="sortingForm">
    <section class="product spad">
        <div class="container">
            <div class="row">
                    <div class="col-lg-3 col-md-5">
                        <div class="sidebar">
                            <div class="sidebar__item">
                                <h4>Department</h4>
                                <ul>
                                    {% for productCategory in productCategories %}
                                        <li><a href="{% url 'ProductListingView' product_category_id=productCategory.id %}">{{ productCategory.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="sidebar__item">
                                <h4>Price</h4>
                                <div class="price-range-wrap">
                                    <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                                        data-min="10" data-max="1000000">
                                        <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                                        <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                        <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                                    </div>
                                    <div class="range-slider">
                                    
                                        <div class="price-input">
                                            <input type="text" id="minamount" name="min">
                                            <input type="text" id="maxamount" name="max">
                                        </div>
                                        <button type="submit">Apply</button>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-7">
                        <div class="filter__item">
                            <div class="row">
                                <div class="col-lg-4 col-md-5">
                                    <div class="filter__sort">
                                        <span>Sort By</span>
                                        
                                        <input type="hidden" name="search" value="{{ request.GET.search }}">
                                        <select name="sorting" id="sorting" onchange="SortingProduct(this)">
                                            <option value="">Default</option>
                                            <option value="high">Price High - Low</option>
                                            <option value="low">Price Low - High</option>
                                        </select>
                                        
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="filter__found">
                                        <h6><span>{{ products.count }}</span> Products found</h6>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="row">
                            {% for product in products %}
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="{{product.cover_image.url}}">
                                    
                                    </div>
                                    <div class="product__item__text">
                                        <h6><a href="{% url 'ProductDetailsView' product_id=product.id %}">{{product.name|title}}</a></h6>
                                        <h5>${{product.price}}</h5>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        
                        </div>
                        <!-- <div class="product__pagination">
                            <a href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#"><i class="fa fa-long-arrow-right"></i></a>
                        </div> -->
                    </div>
                </div>
            </div>
        </section>
    </form>
    <!-- Product Section End -->

   <script>
        function SortingProduct(el){
            document.getElementById("sortingForm").submit();
        }
   </script>
{% endblock content %}